html{
    scroll-behavior: smooth;
}
body{
    background: url(images/fondo.png) no-repeat center center fixed;
    background-size: cover;
    animation: color 12s ease infinite;
    font-size: 20px;
}
#encabezado{
    background-image: url(images/encabezado.png);
    background-size: cover;
    height: 50px;
    width: 99vw;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}
/*-----------------------------------------------------------------------encabezado---------------------------------*/


#encabezado button{
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    width: auto;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#encabezado button:focus{
    background-color: aliceblue;
    background-image: none;
    color: blueviolet;
}

#botonmes{
    background: url(images/botones.png) no-repeat center center;
    background-size: cover;
    
}
#botoninicio{
    background: url(images/fondoinicio.jpg) no-repeat right center;
    background-size: cover;
}
#botoncorazon{
    background-color: rgb(237, 80, 164);
}
#botonestado{
    background-color: rgb(191, 125, 229);
    animation: animc 10s 1s infinite ease;
   
    
}
@keyframes animc{
    0%{
        box-shadow: 0 0 1em rgb(255, 0, 0);
    }
    10%{
        box-shadow: 0 0 1em rgb(211, 188, 56);
    }
    20%{
        box-shadow: 0 0 1em rgb(51, 255, 0);
    }
    30%{
        box-shadow: 0 0 1em rgb(0, 255, 136);
    }
    40%{
        box-shadow: 0 0 1em rgb(0, 119, 255);
    }
    50%{
        box-shadow: 0 0 1em rgb(4, 0, 255);
    }
    60%{
        box-shadow: 0 0 1em rgb(98, 0, 255);
    }  
    70%{
        box-shadow: 0 0 1em rgb(162, 0, 255);
    }
    80%{
        box-shadow: 0 0 1em rgb(204, 0, 255);
    }
    90%{
        box-shadow: 0 0 1em rgb(255, 0, 170);
    }
    100%{
        box-shadow: 0 0 1em rgb(255, 0, 0);
    }
    
}
#botonanime{
    background:url(images/fondoanime.jpg) no-repeat right center;
    background-size: cover;
}
/*---------------------------------------------------------------------------------cordura--------------------------------*/

#contcord{
    position: fixed;
    left: 15px;
    top: 110px;
    width: 20px;
    height: 300px;
    border: 2px solid;
    border-radius: 20px;
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
}
#cordura{
    transition: 1s;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(155, 19, 19);
}
#contcord:hover div:nth-of-type(1){
background-color: rgb(47, 4, 4);
height: 70%;                              /*------------------------------------------------------PORCENTAJE----------------------------*/

}
#contcord label{
    color: aliceblue;
    top: 140px;
    position: absolute;
    font-size: 16px;
    transform: rotatez(-90deg);
}
#max{
    position: fixed;
    font-size: 16px;
    top: 420px;
    left: 18px;
    color: aliceblue;
}
#corduralabel{
    position: fixed;
    font-size: 16px; 
    top: 85px;
    left: 10px;
    color: aliceblue;
}
/*---------------------------------------------------------------------primera pagina----------------------*/

#Inicio{
    font-size: 22px;
    background-color: rgb(146, 162, 190);
    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 5px;
    border: 1px black;
    width: 60%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border-radius: 25px;
}
#Inicio ul{
    background-color: rgb(103, 134, 160);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
}
#metas{
    margin-top: 100px;
}
#interrogacion{
    position: absolute;
    margin: 0px;
    height: 40px;
    width: 40px;
    font-size: 1px;
    background-color: rgb(42, 82, 115);
    border-radius: 50%;
    transition: 1s;
    padding-left: 10px;
    cursor: pointer;
}
#interrogacion div{
    transition: 1s;
    padding-left: 10px;
    padding-top: 5px;
}
#interrogacion:hover div:nth-child(1){
    height: 200px;
    width: 800px;
    transform: translateY(50px);
    font-size: 20px;
    border-radius: 0%;
    background-color: rgb(42, 82, 115);
    transition: 1s;
}
#faltas{
    margin-top: 100px;
}
#rojo{
    color: rgb(151, 21, 21);
}
#amarillo{
    color: rgb(179, 173, 45);
}
#verde{
    color: rgb(16, 98, 16);
}
#link{
    color: black;
    font-size: 22px;
    text-decoration: none;
}
#link:hover{
    color:red;
}
#link:focus{
    color: blueviolet;
}

/*----------------------------------------------------------------------------------------------------------tablas-------*/

#conttable label{
    font-size: 24px;
    color: rgb(172, 175, 177);
    background-color: rgb(75, 32, 75);
    padding: 2px;
}
#conttable{
    position: relative;
    left: 50vmax;
    margin-top: 20px;
    transform: translateX(-50%);
    height: auto;
    width: 1300px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    
}
#conttable table{
    width: 90%;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}    
#conttable table th{
    background-color: rgb(172, 143, 172);
}
#conttable table tr{
    background-color: rgba(91, 54, 86, 0.745);
    border-left: 5px solid black;
    border-bottom: 1px black;
    font-size: 18px;
}
/*-------------------------------------------------------*/

#conttable2 label{
    font-size: 24px;
    color: rgb(172, 175, 177);
    background-color: rgb(42, 32, 75);
    padding: 2px;
}
#conttable2{
    position: relative;
    left: 50vmax;
    transform: translateX(-50%);
    margin-top: 20px;
    height: auto;
    width: 1300px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
}
#conttable2 table{
    width: 90%;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
    background-color: aliceblue;
}
#conttable2 table th{
    background-color: rgb(123, 145, 193);
}
#conttable2 table tr{
    background-color: rgba(146, 159, 188, 0.745);
    border-left: 5px solid black;
    border-bottom: 1px black;
    font-size: 18px;
}
/*----------------------------------------------------------------------------------*/

#conttable3 label{
    font-size: 24px;
    color: rgb(172, 175, 177);
    background-color: rgb(75, 75, 87);
    padding: 2px;
}
#conttable3{
    position: relative;
    left: 50vmax;
    transform: translateX(-50%);
    margin-top: 20px;
    height: auto;
    width: 1300px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
}
#conttable3 table{
    width: 90%;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
    background-color: aliceblue;
}
#conttable3 table th{
    background-color: rgb(205, 205, 207);
}
#conttable3 table tr{
    background-color: rgba(134, 134, 135, 0.745);
    border-left: 5px solid black;
    border-bottom: 1px black;
    font-size: 18px;
}
/*-----------------------------------------------------------------corazones----------------------------------*/

.botoncorazon1{
    background-color: rgb(237, 80, 164);
    cursor: pointer;
}
.botoncorazon1:focus{
    color: rgb(57, 18, 228);
}
#Corazones{
    position: relative;
    left: 50vmin;
    top: 10vmax;
    transform: translate(-50%-50%);
    background-color: rgb(248, 213, 249);
    width: 750px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    padding-top: 20px;
}
#Corazones label{
    font-size: 20px;
    color: rgb(150, 0, 161);
}
#pie{
    display: flex;
    justify-content: space-around;
}
#pie label{
    padding-top: 5px;
    width: 80px;
    height: 30px;
    background-color: beige;
}
#Corazones table{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 700px;
    height: 200px;
    padding-left: 40px;
    font-size: 16px;
}
.pi{
    background-color: rgb(242, 138, 224);
}
.po{
    background-color: rgb(141, 22, 121);
}
.tu{
    background-color: rgb(184, 21, 157);
    border-color: blue;
}
/*----------------------------------------------------------------------------------*/

#Estado label{
    font-size: 24px;
    color: rgb(215, 213, 213);
    background-color: rgb(52, 47, 47);
    padding: 2px;
}
#Estado{
    position: relative;
    left: 50vmin;
    top: 10vmax;
    height: auto;
    width: 800px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}
#Estado table{
    width: 85%; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(218, 222, 224);
    background-color: aliceblue;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(36, 50, 78);
}

/*------------------------------------------------------------------------------toda la parte del top 3----------------*/
#conttop{
    position: absolute;
    width: 600px;
    height: 150px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px 30px 20px;
    margin-top: 30px;
    margin-left: 60px;
    border: 3px dashed rgb(43, 43, 130);
}
#conttop label{
    background-color: rgb(154, 152, 152);
    text-align: center;
    padding: 2px 5px 2px 5px;
}
#tops{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgba(47, 52, 97, 0.858);
    display: flex;
    justify-content: space-around;
    height: 110px;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
}
#tops div{
    padding: 5px 5px 0px 5px;
    height: 110px;
    width: auto;
    transition: 2s;
    position: relative;
    font-family: verdana;
    font-size: medium;
}
#tops:hover :nth-child(1){
    height: 60%;
    background-color: rgb(192,192,192);
    color: black;
    border-radius: 6px;
}
#tops:hover :nth-child(2){
    height: 80px;
    background-color: rgb(255, 215, 0);
    color: black;
    border-radius: 6px;
}
#tops:hover :nth-child(3){
    height: 40px;
    background-color: rgb(205, 127, 50);
    color: black;
    border-radius: 6px;
}

/*-----------------------------------------------------------------------------detallado del top 3----------------------------------*/
#detallado{
    background-color: rgb(54, 80, 122);
    height: auto;
    width: 300px;
    padding: 30px 20px 30px 20px;
    position: absolute;
    left: 50px;
    margin-top: 30px;
    left: 70%;
  
}
#uno{
    height: 300px;
    width: 300px;
    background: url(images/rakudai.jpg) no-repeat center center;
    background-size: cover;
}
#dos{
    height: 300px;
    width: 300px;
    background: url(images/nogame.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 50px;
}
#tres{
    height: 300px;
    width: 300px;
    background: url(images/clover.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 50px;
}

/*--------------------------------------------------------------------------------menciones honorificas---------------------------*/
#contlista{
    height: auto;
    width: 750px;
    background-color: rgb(53, 72, 113);
    padding: 30px 40px 30px 40px;
    top: 55%;
    position: absolute;
    margin-left: 60px;
    text-align: center;
    font-family: verdana;
    font-size: medium;
}
#contlista label{
    background-color: rgb(158, 153, 153);
    text-align: center;
    padding: 2px 5px 2px 5px;
    animation: animac 20s infinite ease;
    font-size: 20px;
}
@keyframes animac{
    0%{
        box-shadow: 0 0 1em rgb(255, 0, 0);
    }
    10%{
        box-shadow: 0 0 1em rgb(211, 188, 56);
    }
    20%{
        box-shadow: 0 0 1em rgb(51, 255, 0);
    }
    30%{
        box-shadow: 0 0 1em rgb(0, 255, 136);
    }
    40%{
        box-shadow: 0 0 1em rgb(0, 119, 255);
    }
    50%{
        box-shadow: 0 0 1em rgb(4, 0, 255);
    }
    60%{
        box-shadow: 0 0 1em rgb(98, 0, 255);
    }  
    70%{
        box-shadow: 0 0 1em rgb(162, 0, 255);
    }
    80%{
        box-shadow: 0 0 1em rgb(204, 0, 255);
    }
    90%{
        box-shadow: 0 0 1em rgb(255, 0, 170);
    }
    100%{
        box-shadow: 0 0 1em rgb(255, 0, 0);
    }
    
}

/*------------------------------------------------------------------imagen de menciones honorificas-------------------------------*/
#contlista ul{
    margin-top: 30px;
}
.preview{
    height: 20px;
    width: 40px;
    background-color: rgb(97, 129, 159);
    margin-left: 600px;
    border-radius: 50%;
    cursor: pointer;
}
.preview div{
    height: 20px;
    width: 20px;
    margin-left: 50px;
    border-radius: 20%;
    transition: 1.5s;
    transition-delay: 0.2s;
}
#preview1:hover :nth-child(n){
    background: url(images/bakatest.jpg) no-repeat center top;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview2:hover :nth-child(n){
    background: url(images/sousou.jpg) no-repeat center center;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview3:hover :nth-child(n){
    background: url(images/fate.jpg) no-repeat center center;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview4:hover :nth-child(n){
    background: url(images/karakai.jpg) no-repeat center center;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview5:hover :nth-child(n){
    background: url(images/shimoneta.jpg) no-repeat center top;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview6:hover :nth-child(n){
    background: url(images/mushoku.jpg) no-repeat center center;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview7:hover :nth-child(n){
    background: url(images/april.jpg) no-repeat center top;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}
#preview8:hover :nth-child(n){
    background: url(images/rezero.jpg) no-repeat center center;
    background-size: cover;
    transform: translatex(200px) scale(10.0);
}

/*--------------------------------------------------------------------------------otros animes------------------------------*/
#contotros{
    height: auto;
    width: 750px;
    background-color: rgb(137, 56, 159);
    padding: 30px 40px 30px 40px;
    top: 150%;
    position: absolute;
    margin-left: 60px;
    text-align: center;
    font-family: verdana;
    font-size: medium;
}
#contotros label{
    background-color: rgb(158, 153, 153);
    text-align: center;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
}